// BODY STYLES

@mixin bodyfont{
  @include regular;
  font-size: 22px;
  color: #rgb(36, 36, 36);
}

@mixin headertitle{
  @include bold;
  font-size: 54px;
  color: $titlecolor;
}

@mixin headertext{
  @include regular;
  font-size: 30px;
  color: $menucolor;
}

@mixin menu{
  @include bold;
  font-size: 18px;
  color: $menucolor;
  text-decoration: none;
  text-transform: uppercase;
}

@mixin titleh2{
  @include bold;
  font-size: 24px;
  color: $titlecolor;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px solid $titlecolor;
}


// MIN 767

@mixin headertitle-767{
  @include bold;
  font-size: 44px;
  color: $titlecolor;
}

@mixin headertext-767{
  @include regular;
  font-size: 24px;
  color: $menucolor;
}
