@import 'fonts.scss';
@import 'mixins.scss';



//VARIABLES

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-max-sm: 767px;
$screen-max-md: 991px;
$screen-max-md: 1199px;

$titlecolor: #11a486;
$menucolor: #93a9e8;

// MAIN STYLES
* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}

.container-inner {
  max-width: 1180px;
  margin:0 auto;

}

.container-outer{
  padding-right: 20px;
  padding-left: 20px;
}

body{
  @include bodyfont;
}

.section-title{
  @include titleh2;
  display: inline-block;
  margin-top: 100px;
}

// HEADER

.header{
  background-image:url(../../images/gym2.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: auto;
}

.header-nav{
  min-height: 60px;
  background-color:rgba(#0c122b, 0.70);
}

.header-nav__items{
  display: flex;
  align-items: center;
  padding-top: 17px;



  .header-nav__list{
    display: flex;
    margin-left: auto;
    list-style: none;

    .header-nav__item{
      @include menu;
      margin-left: 30px;

    }

  }
}

.header-block{
  display: flex;
  margin: 20px;


  .header-text{

    h1{
      @include headertitle;

      text-transform: uppercase;

    }

    p{
      @include headertext;
      border-left: 5px solid $titlecolor;
      border-collapse: separate;
      padding-left: 10px;
      background-color: rgba(#4d5a81, 0.35);
      margin-bottom:20px;
    }

    .price{
      background-color: $titlecolor;
      text-align: center;
      color: white;
      font-weight: 700;
      padding: 10px;
      text-transform: uppercase;
    }
  }
  .header-banner{
    margin-left: auto;
    margin-bottom: 0;
  }
}

// HEADER ADAPTIVE
// MAX 767
@media (max-width: $screen-max-sm){
  .header{
    background-color:#0c122c;
  }
  .header-nav__items{
    flex-direction: column;
    margin-left:0;

    .header-nav__list{
      flex-wrap: wrap;
      align-items: center;
      margin-left: 0;
      margin-bottom: 10px;

    }
  }
  .header-block{
    flex-direction: column;

    .header-banner{
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;

      img{
        width: 300px;
      }
    }
  }
}
// MAX 991
@media (max-width: $screen-max-md){
  .header-block{
    margin: 20px;

    .header-text{

      h1{
        @include headertitle-767;

      }

      p{
        @include headertext-767;

      }

    }
    .header-banner img{
      width: 300px;
      padding-top: 50px;

    }
  }
}

// WHAT IS EMS

.about{
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;

  .about-text{
    flex-grow: 1;
    min-width: 570px;

    .about-text__tx{
      @include bodyfont;
      line-height: 28px;
    }
  }
  .about-img{

    img{
      margin-left: auto;
      border-radius: 20px;
      box-shadow: 5px 5px rgba(45, 31, 37, 0.10);
    }
  }
}

// HOW IT WORKS
.how{
  background-image: linear-gradient(#a89fa0, #3a2e2e);
  border-radius: 10px;
  min-height: 700px;
}
.how-text__block{
  margin-top: 120px;



  .how-text__title{
    padding: 20px;
    color: white;
    font-size: 32px;
    text-transform: uppercase;
  }
  .how-text__img{
    float: left;
    padding-left: 20px;

  }
  .how-text__content{
    display: inline-block;

    margin-left: 20px;
    margin-bottom: 10px;
    color: white;

    span{
      text-align: center;
      vertical-align:middle;
    }


    img{
      display: inline-block;
      margin-right: 10px;
      vertical-align:middle;
      text-align: center;
      color: white;
      fill:currentColor;
    }
  }
}
