@import 'fonts.scss';
@import 'mixins.scss';



//VARIABLES

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-max-sm: 767px;
$screen-max-md: 991px;
$screen-max-md: 1199px;


// MAIN STYLES
* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}

.container {
  width: 1170px;
  margin:0 auto;

}

body{
  @include bodyfont;
}

// HEADER

.header{
  background-image:url(../../images/gym2.jpg);
  min-height: 750px;
}

.header-nav{
  min-height: 60px;
  background-color:rgba(#0c122b, 0.70);
}

.header-nav__items{
  display: flex;
  align-items: center;
  padding-top: 17px;



  .header-nav__list{
    display: flex;
    margin-left: auto;
    list-style: none;

    .header-nav__item{
      text-decoration: none;
      color: #dedddd;
      margin-left: 30px;
    }

  }
}
