@import 'fonts.scss';
@import 'mixins.scss';



//VARIABLES

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-max-sm: 767px;
$screen-max-md: 991px;
$screen-max-lg: 1199px;

$titlecolor: #11a486;
$menucolor: #93a9e8;

// MAIN STYLES
* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}

.container-inner {
  max-width: 1180px;
  margin:0 auto;

}

.container-outer{
  padding-right: 20px;
  padding-left: 20px;
}

body{
  @include bodyfont;
}

.section-title{
  @include titleh2;
  display: inline-block;
  margin-top: 100px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

// HEADER

.header{
  background-image:url(../../images/gym2.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: auto;
}

.header-nav{
  min-height: 60px;
  background-color:rgba(#0c122b, 0.70);
}

.header-nav__items{
  display: flex;
  align-items: center;
  padding-top: 17px;



  .header-nav__list{
    display: flex;
    margin-left: auto;
    list-style: none;

    .header-nav__item{
      @include menu;
      margin-left: 30px;

    }

  }
}

.header-block{
  display: flex;
  margin: 20px;


  .header-text{

    h1{
      @include headertitle;

      text-transform: uppercase;

    }

    p{
      @include headertext;
      border-left: 5px solid $titlecolor;
      border-collapse: separate;
      padding-left: 10px;
      background-color: rgba(#4d5a81, 0.35);
      margin-bottom:20px;
    }

    .price{
      background-color: $titlecolor;
      text-align: center;
      color: white;
      font-weight: 700;
      padding: 10px;
      text-transform: uppercase;
    }
  }
  .header-banner{
    margin-left: auto;
    margin-bottom: 0;
  }
}

// HEADER ADAPTIVE
// MAX 767
@media (max-width: $screen-max-sm){
  .header{
    background-color:#0c122c;
  }
  .header-nav__items{
    flex-direction: column;
    margin-left:0;

    .header-nav__list{
      flex-wrap: wrap;
      align-items: center;
      margin-left: 0;
      margin-bottom: 10px;

    }
  }
  .header-block{
    flex-direction: column;

    .header-banner{
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;

      img{
        width: 300px;
      }
    }
  }
}
// MAX 991
@media (max-width: $screen-max-md){
  .header-block{
    margin: 20px;

    .header-text{

      h1{
        @include headertitle-767;

      }

      p{
        @include headertext-767;

      }

    }
    .header-banner img{
      width: 300px;
      padding-top: 50px;

    }
  }
}

// WHAT IS EMS

.about{
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;

  .about-text{
    flex-grow: 1;
    min-width: 570px;

    .about-text__tx{
      @include bodyfont;
      line-height: 28px;
    }
  }
  .about-img{

    img{
      margin-left: auto;
      border-radius: 20px;
      box-shadow: 5px 5px rgba(45, 31, 37, 0.10);
    }
  }
}

// HOW IT WORKS
.how{
  background-image:url(../../images/gym2.jpg);
  background-repeat: no-repeat;

}
.how-text__block{
  margin-top: 120px;
  padding-bottom: 80px;



  .how-text__title{
    padding: 80px 20px 40px ;
    @include titleh2;
    border:none;
    text-transform: uppercase;

  }
  .how-text__block__cont{
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  .how-text__img{
    padding-right: 20px;
  }
  .how-text-block__content{
    margin-right: auto;
    order: -1;
  }
  .how-text__content{
    display: inline-block;
    margin-bottom: 10px;
    color: $menucolor;

    span{
      text-align: center;
      vertical-align:middle;
    }


    img{
      display: inline-block;
      margin-left:10px;
      vertical-align:middle;
      text-align: center;


    }
  }
}
// HOW AND WHAT
// MAX 767
@media (max-width: $screen-max-sm) {
  .how-text__title{
    text-align: center;

  }
  .about-img{
    img{
      margin-top: 30px;
    }
  }
  .how-text-block__content{
    margin-left: auto;
    margin-right: auto;
  }
.how-text__img{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 40px;

}
}
// MAX 991
@media (max-width: $screen-max-lg) {
  .how-text__title{
    text-align: center;

  }
  .about-img{
    img{
      margin-top: 30px;
    }
  }
  .how-text__img{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 40px;
  }
  .how-text__block__cont{
    flex-wrap: nowrap;
  }
  .how-text-block__content{
    margin-right: auto;
    margin-left: auto;
  }
}

// HOW TO USE
.how-use{
  background-color: #090f29;
}
.how-use-lighter{
  background-color: #04091f;
}
.how-use__title{
  @include titleh2;
  display: inline-block;
  margin-top: 100px;
  margin-bottom: 60px;

}
.how-use__list{
  display: flex;

  .how-use__list__text{

  }

  .how-use__list__image{
    width: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 230px;
  }

  h3{
    color:$titlecolor;
    font-size: 24px;
    text-transform: uppercase;
    padding-top: 20px;

  }
  p{
    color:$menucolor;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 20px;
    hyphens: auto;
    text-align: left;

  }
}
// FOOTER
footer{
  background-color: #04091f;

  .footer-text{
    padding-top: 30px;
    padding-bottom: 30px;

    p{
      font-size: 16px;
      text-align: center;
      color:$menucolor;
    }
  }
}
// HOW TO USE & FOOTER
// MAX 767
@media (max-width: $screen-max-sm) {
  .how-text__block{
    padding-bottom: 10px;
  }
  .how-use__list{
    display: flex;
    flex-wrap: wrap;

    h3{

      padding-top: 0px;

    }
  }
  .how-use__list__image{
    width: 200px;
    padding-top: 20px;
    padding-bottom: 0px;
    margin-right: 0px;
  }
}
