@font-face {
  font-family: 'Archivo', sans-serif;
  src: url("./fonts/Archivo-Bold.ttf");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: 'Archivo', sans-serif;
  src: url("./fonts/Archivo-Medium.ttf");
  font-style: normal;
  font-weight: 500; }

@font-face {
  font-family: 'Archivo', sans-serif;
  src: url("./fonts/Archivo-Regular.ttf");
  font-style: normal;
  font-weight: 400; }

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  width: 1170px;
  margin: 0 auto; }

body {
  font-family: 'Archivo', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  color: #rgb 36, 36, 36; }

.header {
  background-image: url(../../images/gym2.jpg);
  background-attachment: scroll;
  height: 750px; }

.header-nav {
  min-height: 60px;
  background-color: rgba(12, 18, 43, 0.7); }

.header-nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 17px; }
  .header-nav__items .header-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    list-style: none; }
    .header-nav__items .header-nav__list .header-nav__item {
      font-family: 'Archivo', sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 18px;
      color: #6778a8;
      text-decoration: none;
      text-transform: uppercase;
      margin-left: 30px; }

.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px; }
  .header-block .header-text h1 {
    font-family: 'Archivo', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 54px;
    color: #11a486; }
  .header-block .header-text p {
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 32px;
    color: #6778a8;
    border-left: 5px solid #11a486;
    padding-left: 10px; }
  .header-block .header-banner {
    margin-left: auto;
    margin-bottom: 0; }
