@font-face {
  font-family: 'Archivo', sans-serif;
  src: url("./fonts/Archivo-Bold.ttf");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: 'Archivo', sans-serif;
  src: url("./fonts/Archivo-Medium.ttf");
  font-style: normal;
  font-weight: 500; }

@font-face {
  font-family: 'Archivo', sans-serif;
  src: url("./fonts/Archivo-Regular.ttf");
  font-style: normal;
  font-weight: 400; }

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container-inner {
  max-width: 1180px;
  margin: 0 auto; }

.container-outer {
  padding-right: 20px;
  padding-left: 20px; }

body {
  font-family: 'Archivo', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  color: #rgb 36, 36, 36; }

.section-title {
  font-family: 'Archivo', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  color: #11a486;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 2px solid #11a486;
  display: inline-block;
  margin-top: 100px; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.header {
  background-image: url(../../images/gym2.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: auto; }

.header-nav {
  min-height: 60px;
  background-color: rgba(12, 18, 43, 0.7); }

.header-nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 17px; }
  .header-nav__items .header-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    list-style: none; }
    .header-nav__items .header-nav__list .header-nav__item {
      font-family: 'Archivo', sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 18px;
      color: #93a9e8;
      text-decoration: none;
      text-transform: uppercase;
      margin-left: 30px; }

.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px; }
  .header-block .header-text h1 {
    font-family: 'Archivo', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 54px;
    color: #11a486;
    text-transform: uppercase; }
  .header-block .header-text p {
    font-family: 'Archivo', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: #93a9e8;
    border-left: 5px solid #11a486;
    border-collapse: separate;
    padding-left: 10px;
    background-color: rgba(77, 90, 129, 0.35);
    margin-bottom: 20px; }
  .header-block .header-text .price {
    background-color: #11a486;
    text-align: center;
    color: white;
    font-weight: 700;
    padding: 10px;
    text-transform: uppercase; }
  .header-block .header-banner {
    margin-left: auto;
    margin-bottom: 0; }

@media (max-width: 767px) {
  .header {
    background-color: #0c122c; }
  .header-nav__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 0; }
    .header-nav__items .header-nav__list {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-left: 0;
      margin-bottom: 10px; }
  .header-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .header-block .header-banner {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0; }
      .header-block .header-banner img {
        width: 300px; } }

@media (max-width: 991px) {
  .header-block {
    margin: 20px; }
    .header-block .header-text h1 {
      font-family: 'Archivo', sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 44px;
      color: #11a486; }
    .header-block .header-text p {
      font-family: 'Archivo', sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 24px;
      color: #93a9e8; }
    .header-block .header-banner img {
      width: 300px;
      padding-top: 50px; } }

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 50px; }
  .about .about-text {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    min-width: 570px; }
    .about .about-text .about-text__tx {
      font-family: 'Archivo', sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 22px;
      color: #rgb 36, 36, 36;
      line-height: 28px; }
  .about .about-img img {
    margin-left: auto;
    border-radius: 20px;
    -webkit-box-shadow: 5px 5px rgba(45, 31, 37, 0.1);
    box-shadow: 5px 5px rgba(45, 31, 37, 0.1); }

.how {
  background-image: url(../../images/gym2.jpg);
  background-repeat: no-repeat; }

.how-text__block {
  margin-top: 120px;
  padding-bottom: 80px; }
  .how-text__block .how-text__title {
    padding: 80px 20px 40px;
    font-family: 'Archivo', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    color: #11a486;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid #11a486;
    border: none;
    text-transform: uppercase; }
  .how-text__block .how-text__block__cont {
    padding-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .how-text__block .how-text__img {
    padding-right: 20px; }
  .how-text__block .how-text-block__content {
    margin-left: auto; }
  .how-text__block .how-text__content {
    display: inline-block;
    margin-bottom: 10px;
    color: #93a9e8; }
    .how-text__block .how-text__content span {
      text-align: center;
      vertical-align: middle; }
    .how-text__block .how-text__content img {
      display: inline-block;
      margin-right: 10px;
      vertical-align: middle;
      text-align: center;
      margin-right: 10px; }

@media (max-width: 767px) {
  .how-text__title {
    text-align: center; }
  .about-img img {
    margin-top: 30px; }
  .how-text-block__content {
    margin-left: auto;
    margin-right: auto; }
  .how-text__img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px; } }

@media (max-width: 1199px) {
  .how-text__title {
    text-align: center; }
  .about-img img {
    margin-top: 30px; }
  .how-text__img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px; }
  .how-text__block__cont {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .how-text-block__content {
    margin-right: auto;
    margin-left: auto; } }
